.infinity-image-container{
	background: url('/img/bg.png') center no-repeat;
	background-size: cover;
	height: 100vh;
}

.infinity-image-container2{
    background: url('/img/bg2.png') center no-repeat;
    background-size: cover;
    height: 100vh;
}

.infinity-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infinity-form{
	display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.infinity-form h4 {
    font-weight: bold;
}

.infinity-form .form-input {
    position: relative;
}

.infinity-form .form-input input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    background: transparent;
    padding-left: 40px;
    font-weight: bold;
    color: #777;
}

.infinity-form .form-input span {
    position: absolute;
    top: 8px;
    padding-left: 10px;
    color: #777;
}

.infinity-form .form-input input:focus,
.infinity-form .form-input input:valid {
    border-bottom: 2px solid #4285f4;   
}

.infinity-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #4285f4 !important;
  border:0px;
}

.infinity-form button[type="submit"] {
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background: linear-gradient(45deg, #fbd31c, #fbd733);   /*Button Color*/
    color: #000000;
    font-weight: bold;
    transition: 0.5s;
}

.infinity-form button[type="submit"]:hover {
    background: linear-gradient(45deg, #fce060, #fcdc49);   /*Button color when hover*/
}

.forget-link , .login-link , .register-link {
    color: #fbd31c;
    font-weight: bold;
}

.forget-link:hover , .login-link:hover , .register-link:hover {
    color: #fbd733;
    text-decoration: none;
}

.infinity-form .btn-social {
    color: white;
    border: 0;
    display: inline-block;
    margin: 0px;
    margin-right: 10px;
    font-weight: bold;
    padding: 0px 5px;
    margin-bottom: 10px;
}

.infinity-form .btn-facebook {
    color: #4866a8;
}

.infinity-form .btn-google {
    color: #da3f34;
}

.infinity-form .btn-twitter {
    color: #33ccff;
}

.infinity-form .btn-facebook:hover {
    color: white;
    background: hsla(221, 40%, 40%, 1);
}

.infinity-form .btn-google:hover {
    color: white;
    background: hsla(4, 59%, 47%, 1);
}

.infinity-form .btn-twitter:hover {
    color: white;
    background: hsla(195, 78%, 54%, 1);
}